li img {
  max-height: 100px;
}

li.monster, li .team-member {
  border: 2px solid black;
  text-align: center;
  border-radius: 7px;
  margin: 5px;
  max-width: 140px;
  background-color: #d4c1d4;
  padding: 5px;
}
li.team-member {
  min-height: 110px;
}
li.monster img {
  max-height: 100px;
}
li.monster.taken, .team-member.taken {
  background-color: #caa;
}
.monster-card.taken {
  background-image: radial-gradient(#caa, #b49494);
}

.team-lineup li {
  padding-left: 0;
  padding-right: 0;
}

li .team-member img {
  max-height: 50px;
}

a {
  color: black;
}
.monster-card {
  border-image: linear-gradient(30deg, #efdb09 0%, #faef7e 15%, #f8e94d 30%, #fbf297 50%, #f8e94d 70%, #f6e426 85%, #f9ec66 100%) 1%;
  border-width: 15px;
  width: 300px;
  min-height: 300px;
  text-align: center;
  background-image: radial-gradient(#dacada, #b494b4);
  padding: 5px 20px;
}
.monster-card .name {
  float: left;
  font-size: 2em;
  font-weight: bold;
}
.monster-card img {
  max-width: 200px;
  max-height: 200px;
  /*border: 5px #f8e94d solid;*/
  margin: 10px;
}

.team-lineup {
  min-height: 100px;
  border-radius: 10px;
  border: black 2px solid;
}

.field {
  padding-bottom: 8px;
}

.field input {
  width: 200px;
}

.field label {
  color: #000;
  display: block;
}
