<h1>Select a Monster</h1>

<p>There are so many monsters.</p>
<p>They're collectible.</p>
<p>Why not add them to your team?</p>
<p>Yay! Monsters!</p>
{{#link-to 'monsters.new' tagName="button" class="btn"}}
  New Monster
{{/link-to}}
