<div class="container">
  <div class="row">
    <div class="pull-right">
      {{#if session.currentUser}}
        <span {{action 'logout'}} style="cursor: pointer;">Logout {{session.currentUser.email}}</span>
      {{else}}
        {{#link-to 'users'}}Login{{/link-to}}
      {{/if}}
    </div>
    {{#link-to 'monsters'}}Monsters{{/link-to}}
  </div>

  {{outlet}}
</div>
