<h1>Login</h1>

<div class="field">
  <label>User Name</label>
  {{input value=userName}}
</div>
<div class="field">
  <label>Password</label>
  {{input value=password type="password"}}
</div>
<div class="btn btn-primary" {{action 'login'}}>Login</div>
